 
  body {
    background: linear-gradient(to bottom right, #03105a, #ff22ff) !important;
  }
  

/*main menu-hover*/
.main-menu:hover {
  color: #ffffff !important;
  font-size: 1.1rem !important;
  letter-spacing: 2px;
  transform: translateY(-3px);
}

 /*index.php - cards style*/
 .card-title {
  font-weight: 600;
}

.card-text {
  font-size: 1rem;
  line-height: 1.6;
}

.btn-primary {
  background-color: #0d6efd;
  border: none;
}

/*Text size*/
.fs-small-home {
  font-size: 1rem !important;
}

.card-hover {
  background-color: transparent;
  box-shadow: none;
  border: none;
}


 /*function / cards hover effect*/
 .card-hover {
  transition: all 0.3s ease-in-out;
}

.card-hover:hover {
  transform: translateY(-6px);
  box-shadow: 0 1rem 1.5rem rgba(250, 229, 229, 0.2); /* shadow-lg effekt */
}




 /*prices / cards */
 .custom-card {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02));
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  backdrop-filter: blur(8px);
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.custom-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 30px rgba(255, 0, 200, 0.25);
}

.cards-list{
  text-align: left;
}

/*Contact/focus color*/
.form-control:focus {
  border-color: #ffb007 !important;    /* Bootstrap sárga */
  box-shadow: 0 0 0 0.1rem rgba(255, 166, 0, 0.863); 
}

/*login*/
.link-color:hover {
  color: #15005f !important;
  font-weight: bold;
}

/*Register/pwd hide/show*/
.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 0;
  z-index: 10;
}

.password-toggle i {
  color: black;
  font-size: 1.2rem;
}

.password-toggle:hover {
  background: transparent;
  color: black;
}


/* footer/menu Hover szín  */
.terms-text a:hover {
  color: #15005f !important;
  font-weight: bold;
  text-decoration: underline;
}



/*footer /menu text*/
 .footer-menu {
    font-size: 0.6 rem !important;
    font-weight: 400;
  }


  .footer-menu:hover {
    color: #ffffff !important;
    font-size: 1rem !important;
    
  }
  
/*footer bg*/
footer {
  background: linear-gradient(to right, #03105a, #ff22ff);
  color: white;
  padding: 20px 0;
  border-top: 1px solid rgba(43, 3, 88, 0.1) !important;
  text-align: center;
  font-size: 0.9rem;
}


/*calendar*/
.time-slot {
  height: 30px;
  border-bottom: 1px solid #ccc;
  text-align: right;
  padding-right: 5px;
  color: #555;
}

.slot {
  height: 28px; /* Eddigi 50px helyett */
  background-color: #f8f9fa;
  cursor: pointer;
  padding: 0
}
.slot:hover {
  background-color: #f0f8ff;
}

.slot.booked {
  background-color: #ffc0cb !important; /* halvány rózsaszín */
  pointer-events: none; /* ne lehessen rákattintani */
  position: relative;
}
.slot.booked::after {
  content: "1D szempilla";
  font-size: 0.65rem;
  color: #000;
  position: absolute;
  top: 2px;
  left: 2px;
}

